.form-sec{
    width: 400px;
    min-height: 500px;
}

/* carousel start */
h1 {
    text-align: center;
    margin: 3rem 0;
  }
  li {
    list-style: none;
  }
  body {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .carousel {
    position: relative;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .carousel__images {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel__track-container {
    background: white;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .carousel__button:hover {
    background-color: rgb(254, 215, 222);
    border-radius: 20px;
  }
  
  .carousel__button--left {
    left: -40px;
  }
  .carousel__button--right {
    right: -40px;
     transform: translateY(-50%) rotate(180deg)
  }
  .carousel__button img {
    width: 25px;
  }
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 1rem;
  }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
  
  .carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.9);
  }
  .is-hidden {
    display: none;
  }

  /* carousel ends */